<%- include('header.ejs') %>
        <main>
            <section class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <% if(data.products.length > 0) { %>
                            <p>You have to remove all products from this category before you can delete it.</p>
                            <ul>
                                <% data.products.forEach(product => { %>
                                    <li>
                                        <a href="<%= product.url %> "><%= product.name %> </a>
                                    </li>
                                <% }); %>
                            </ul> 
                        <% } else { %>
                            <p>Are you sure you want to delete this category?</p>
                            <form action="" method="post">
                                <input type="hidden" name="cat-id" value="<%= data.category._id %>">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        <% } %> 
                    </div>
                </div>
            </section>    
        </main>
<%- include('footer.ejs') %>