<%- include('header.ejs') %>
        <main>
            <section class="container">
                <p>Welcome to <%= title %></p>
                <p>Products: <%= data.productCount %></p>
                <p>Vendors: <%= data.vendorCount %></p>
                <p>Categories: <%= data.categoryCount %></p>
                <p>Genres: <%= data.genreCount %></p>
            </section>    
        </main>
<%- include('footer.ejs') %>