<%- include('header.ejs') %>
        <main>
            <section class="container">
                <div class=" mb-4 bg-dark rounded-3 position-relative" style="background-image: url('images/dice_hero_2.jpg');">
                    <div class="overlay bg-dark opacity-50 rounded-3">
                    </div>
                    <div class="container-fluid py-5 p-5 text-light position-relative" style="z-index: 10;">
                        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
                        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
                        <button class="btn btn-primary btn-lg" type="button">Example button</button>
                    </div>
                </div>
                <p>Welcome to <%= title %></p>
                <p>Products: <%= data.productCount %></p>
                <p>Vendors: <%= data.vendorCount %></p>
                <p>Categories: <%= data.categoryCount %></p>
                <p>Genres: <%= data.genreCount %></p>
            </section>    
        </main>
<%- include('footer.ejs') %>