<%- include('header.ejs') %>
        <main>
            <section class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <form method="POST" action="">
                            <div class="mb-3">
                                <label for="product-name" class="form-label">Product Name</label>
                                <input class="form-control" type="text" name="product-name" id="product-name" value="<%= undefined === data.product ? '' : data.product.name %> ">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="product-vendor">Product Vendor</label>
                                <select class="form-select" name="product-vendor" id="product-vendor">
                                    <option value="">Select a vendor</option>
                                    <% if (data.product != undefined) { 
                                        data.vendorList.forEach(vendor => { %>
                                            <option value="<%= vendor._id %>" <%= data.product.vendor.name === vendor.name ? 'selected' : '' %>><%= vendor.name %></option>
                                    <%  });
                                    } else { 
                                        data.vendorList.forEach(vendor => { %>
                                            <option value="<%= vendor._id %>"><%= vendor.name %></option>
                                    <% });} %>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="product-stock">Product Stock</label>
                                <input class="form-control" type="number" name="product-stock" id="product-stock" value="<%= undefined === data.product ? '' : data.product.stock; %>">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="product-category">Category</label>
                                <% if(data.product != undefined) {
                                    data.categoryList.forEach(cat => { %>
                                        <div>
                                            <input class="form-check-input" type="checkbox" name="product-category" id="<%= cat._id %>" value="<%= cat._id %>" checked="<%= cat.checked %>">
                                            <label class="form-check-label" for="<%= cat._id %> "><%= cat.name %> </label>
                                        </div>
                                    <% });
                                } else {
                                    data.categoryList.forEach(cat => { %>
                                        <div>
                                            <input class="form-check-input" type="checkbox" name="product-category" id="<%= cat._id %>" value="<%= cat._id %>">
                                            <label class="form-check-label" for="<%= cat._id %> "><%= cat.name %> </label>
                                        </div>
                                    <% });
                                } %>
                            </div>
                            <div class="mb-3">
                                <label for="">Genre:</label>
                                <% if(data.product != undefined) { 
                                    data.genreList.forEach(genre => { %>
                                        <div>
                                            <input class="form-check-input" type="checkbox" name="product-genre" id="<%= genre._id %>" value="<%= genre._id %>" checked="<%= genre.checked %>">
                                            <label class="form-check-label" for="<%= genre._id %> "><%= genre.name %> </label>
                                        </div>
                                    <% }); %>
                                <% } else {
                                    data.genreList.forEach(genre => { %>
                                        <div>
                                            <input class="form-check-input" type="checkbox" name="product-genre" id="<%= genre._id %>" value="<%= genre._id %>">
                                            <label class="form-check-label" for="<%= genre._id %> "><%= genre.name %> </label>
                                        </div>
                                    <% }); %>
                                <% } %>
                            </div>
                            <div class="mb-3">
                                <label for="product-price" class="form-label">Price</label>
                                <input type="text" name="product-price" id="product-price" class="form-control" value="<%= undefined === data.product? '' : data.product.price; %>">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="product-description">Description</label>
                                <textarea class="form-control" name="product-description" id="product-description" cols="30" rows="5"><%= undefined === data.product ? '' : data.product.description; %></textarea>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </section>    
        </main>
<%- include('footer.ejs') %>